Naufal Fakhry Pratama (PYTN-KS18-014)
pertemuan 10

In [1]:
import numpy as np
import pandas as pd

pd.set_option('display.max_columns', None)

In [2]:
df = pd.read_csv('melb_data.csv')
df.head()

,Suburb,Address,Rooms,Type,Price,Method,SellerG,Date,Distance,Postcode,...,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
0,Abbotsford,85 Turner St,2,h,1480000.0,S,Biggin,3/12/2016,2.5,3067.0,...,1.0,1.0,202.0,NaN,NaN,Yarra,-37.7996,144.9984,Northern Metropolitan,4019.0
1,Abbotsford,25 Bloomburg St,2,h,1035000.0,S,Biggin,4/02/2016,2.5,3067.0,...,1.0,0.0,156.0,79.0,1900.0,Yarra,-37.8079,144.9934,Northern Metropolitan,4019.0
2,Abbotsford,5 Charles St,3,h,1465000.0,SP,Biggin,4/03/2017,2.5,3067.0,...,2.0,0.0,134.0,150.0,1900.0,Yarra,-37.8093,144.9944,Northern Metropolitan,4019.0
3,Abbotsford,40 Federation La,3,h,850000.0,PI,Biggin,4/03/2017,2.5,3067.0,...,2.0,1.0,94.0,NaN,NaN,Yarra,-37.7969,144.9969,Northern Metropolitan,4019.0
4,Abbotsford,55a Park St,4,h,1600000.0,VB,Nelson,4/06/2016,2.5,3067.0,...,1.0,2.0,120.0,142.0,2014.0,Yarra,-37.8072,144.9941,Northern Metropolitan,4019.0

Nomor 1
Tampilkan statistik deskriptif pada variabel Rooms, Distance, Landsize, dan Price

In [20]:
df[['Rooms', 'Distance', 'Landsize', 'Price']].describe()

              Rooms      Distance       Landsize         Price
count  13580.000000  13580.000000   13580.000000  1.358000e+04
mean       2.937997     10.137776     558.416127  1.075684e+06
std        0.955748      5.868725    3990.669241  6.393107e+05
min        1.000000      0.000000       0.000000  8.500000e+04
25%        2.000000      6.100000     177.000000  6.500000e+05
50%        3.000000      9.200000     440.000000  9.030000e+05
75%        3.000000     13.000000     651.000000  1.330000e+06
max       10.000000     48.100000  433014.000000  9.000000e+06

Nomor 2
a) Berapa jumlah Rooms pada rumah yang harganya paling mahal?
b) Berapa rata-rata harga rumah yang jarak ke CBD (variabel Distance) 
terdekat?
c) Berapa rata-rata harga rumah yang luas tanahnya (variabel Landsize) 1 
kali standar deviasi di atas rata-rata luas tanah?
d) Berapa rentang (range) harga rumah (variabel Price) pada region 
Southern Metropolitan?

In [11]:
#a

rumah_paling_mahal = df[df['Price'] == df['Price'].max()]
jumlah_rumah_paling_mahal = rumah_paling_mahal['Rooms'].values[0]

print("Jumlah Rooms pada rumah yang harganya paling mahal ada:", jumlah_rumah_paling_mahal )

Jumlah Rooms pada rumah yang harganya paling mahal ada: 3

In [12]:
#b

# Menemukan jarak terdekat ke CBD
jarak_terdekat = df['Distance'].min()

# Menghitung rata-rata harga rumah dengan jarak terdekat
rata_rata_harga_jarak_terdekat = df[df['Distance'] == jarak_terdekat]['Price'].mean()

print("Rata-rata harga rumah yang jaraknya terdekat ke CBD:", rata_rata_harga_jarak_terdekat)

Rata-rata harga rumah yang jaraknya terdekat ke CBD: 671166.6666666666

In [13]:
#C
# Menghitung rata-rata luas tanah
rata_rata_landsize = df['Landsize'].mean()

# Menghitung standar deviasi luas tanah
standar_deviasi_landsize = df['Landsize'].std()

# Menghitung batas atas yaitu rata-rata ditambah satu kali standar deviasi
batas_atas = rata_rata_landsize + standar_deviasi_landsize

# Menghitung rata-rata harga rumah yang luas tanahnya di atas batas atas
rata_rata_harga_luas_tanah_di_atas_batas = df[df['Landsize'] > batas_atas]['Price'].mean()

print("Rata-rata harga rumah yang luas tanahnya di atas 1 kali standar deviasi di atas rata-rata luas tanah:", rata_rata_harga_luas_tanah_di_atas_batas)

Rata-rata harga rumah yang luas tanahnya di atas 1 kali standar deviasi di atas rata-rata luas tanah: 880776.6666666666

In [14]:
#D

# Membuat filter untuk region Southern Metropolitan
filter_southern_metropolitan = df['Regionname'] == 'Southern Metropolitan'

# Menghitung rentang harga rumah pada region Southern Metropolitan
rentang_harga_southern_metropolitan = df[filter_southern_metropolitan]['Price'].max() - df[filter_southern_metropolitan]['Price'].min()

print("Rentang harga rumah pada region Southern Metropolitan:", rentang_harga_southern_metropolitan)

Rentang harga rumah pada region Southern Metropolitan: 7869000.0

NOMOR 3

Nilai outlier adalah nilai yang berada di bawah Q1 - (1.5 * IQR) 
atau di atas Q3 + (1.5 * IQR).
a) Hitung dulu Q1, Q2, dan IQR pada kolom Price (harga rumah)
b) Hitung ada berapa nilai outlier pada kolom Price!

In [15]:
#a

# Menghitung Q1 (Kuartil 1)
Q1 = df['Price'].quantile(0.25)

# Menghitung Q3 (Kuartil 3)
Q3 = df['Price'].quantile(0.75)

# Menghitung IQR (Interquartile Range)
IQR = Q3 - Q1

print("Q1 (Kuartil 1):", Q1)
print("Q3 (Kuartil 3):", Q3)
print("IQR (Interquartile Range):", IQR)

Q1 (Kuartil 1): 650000.0
Q3 (Kuartil 3): 1330000.0
IQR (Interquartile Range): 680000.0

In [16]:
#b
# Menghitung batas bawah untuk outlier
batas_bawah_outlier = Q1 - 1.5 * IQR

# Menghitung batas atas untuk outlier
batas_atas_outlier = Q3 + 1.5 * IQR

# Mengidentifikasi nilai outlier
outliers = df[(df['Price'] < batas_bawah_outlier) | (df['Price'] > batas_atas_outlier)]

# Menghitung jumlah nilai outlier
jumlah_outlier = len(outliers)

print("Jumlah nilai outlier pada kolom Price:", jumlah_outlier)

Jumlah nilai outlier pada kolom Price: 612

NOMOR 4
Lakukan uji asumsi normalitas pada variabel harga rumah (Price) 
menggunakan:
a) Shapiro Wilk Test
b) Dâ€™Agostino and Pearsonâ€™s Test

In [18]:
#a) Shapiro Wilk Test

from scipy.stats import shapiro


# Mengambil variabel Price
price = df['Price']

# Melakukan uji Shapiro-Wilk
stat, p = shapiro(price)

# Menampilkan hasil uji
print("Shapiro-Wilk Test:")
print("Statistik Uji:", stat)
print("P-Value:", p)

# Menentukan apakah variabel Price berdistribusi normal atau tidak berdasarkan nilai p
alpha = 0.05
if p > alpha:
    print("Tidak ada cukup bukti untuk menolak asumsi normalitas (distribusi Price adalah normal)")
else:
    print("Asumsi normalitas ditolak (distribusi Price bukan normal)")

Shapiro-Wilk Test:
Statistik Uji: 0.8328601717948914
P-Value: 0.0
Asumsi normalitas ditolak (distribusi Price bukan normal)

c:\Users\fakhr\anaconda3\Lib\site-packages\scipy\stats\_morestats.py:1816: UserWarning: p-value may not be accurate for N > 5000.
  warnings.warn("p-value may not be accurate for N > 5000.")

In [19]:
#b) Dâ€™Agostino and Pearsonâ€™s Test

import pandas as pd
from scipy.stats import normaltest


# Mengambil variabel Price
price = df['Price']

# Melakukan uji D'Agostino and Pearson's
stat, p = normaltest(price)

# Menampilkan hasil uji
print("D'Agostino and Pearson's Test:")
print("Statistik Uji:", stat)
print("P-Value:", p)

# Menentukan apakah variabel Price berdistribusi normal atau tidak berdasarkan nilai p
alpha = 0.05
if p > alpha:
    print("Tidak ada cukup bukti untuk menolak asumsi normalitas (distribusi Price adalah normal)")
else:
    print("Asumsi normalitas ditolak (distribusi Price bukan normal)")

D'Agostino and Pearson's Test:
Statistik Uji: 6894.345896172315
P-Value: 0.0
Asumsi normalitas ditolak (distribusi Price bukan normal)

Nomor 9

Uji hipotesis apakah metode pembelian/Method berkaitan 
dengan tipe rumah/ Type (dependen) atau tidak saling berkaitan 
(independen)!
Hypothesis:
â€¢ Ho : The two variables are independent
â€¢ Ha : The two variables are dependent.

In [21]:

from scipy.stats import chi2_contingency



# Bentuk tabel kontingensi antara Method dan Type
contingency_table = pd.crosstab(df['Method'], df['Type'])

# Melakukan uji chi-square untuk independensi
chi2, p, dof, expected = chi2_contingency(contingency_table)

# Menampilkan hasil uji
print("Statistik Chi-Square:", chi2)
print("P-Value:", p)

# Tentukan tingkat signifikansi (alpha)
alpha = 0.05

# Ambil keputusan
if p < alpha:
    print("Menolak hipotesis nol (Ho): Method dan Type berkaitan (dependent)")
else:
    print("Tidak cukup bukti untuk menolak hipotesis nol (Ho): Method dan Type tidak berkaitan (independent)")

Statistik Chi-Square: 120.08519425521135
P-Value: 3.183702485154338e-22
Menolak hipotesis nol (Ho): Method dan Type berkaitan (dependent)

Nomor 10

Uji hipotesis apakah rata-rata harga rumah (Price) antar 
Regionname berbeda ataukah sama! Diasumsikan persyaratan 
statistik parametrik terpenuhi
Hipotesis:
â€¢ Ho : Î¼1 = Î¼2 = â€¦ = Î¼k (Rata-rata harga rumah antar Regionname
sama)
â€¢ Ha : Setidaknya ada satu pasang Regionname yang rata-rata 
harga rumahnya tidak sama, tapi kita tidak tahu yang mana

In [23]:
from scipy.stats import f_oneway


# Pisahkan data menjadi kelompok-kelompok berdasarkan Regionname
groups = [group['Price'] for name, group in df.groupby('Regionname')]

# Lakukan uji ANOVA
stat, p = f_oneway(*groups)

# Menampilkan hasil uji
print("Statistik ANOVA:", stat)
print("P-Value:", p)

alpha = 0.05

# Ambil keputusan
if p < alpha:
    print("Menolak hipotesis nol (Ho): Setidaknya ada satu pasang Regionname yang rata-rata harga rumahnya tidak sama.")
else:
    print("Tidak cukup bukti untuk menolak hipotesis nol (Ho): Rata-rata harga rumah antar Regionname sama.")

Statistik ANOVA: 284.40018651008097
P-Value: 0.0
Menolak hipotesis nol (Ho): Setidaknya ada satu pasang Regionname yang rata-rata harga rumahnya tidak sama.