NAUFAL FAKHRY PRATAMA (PYTN-KS18-014)
PERTEMUAN 9

In [1]:
# Import numpy with alias np and pandas alias pd
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# Load dataset
sales = pd.read_csv('04. sales_subset.csv')

In [3]:
# Print the head of the sales DataFrame
sales.head()

,Unnamed: 0,store,type,department,date,weekly_sales,is_holiday,temperature_c,fuel_price_usd_per_l,unemployment
0,0,1,A,1,2010-02-05,24924.50,False,5.727778,0.679451,8.106
1,1,1,A,1,2010-03-05,21827.90,False,8.055556,0.693452,8.106
2,2,1,A,1,2010-04-02,57258.43,False,16.816667,0.718284,7.808
3,3,1,A,1,2010-05-07,17413.94,False,22.527778,0.748928,7.808
4,4,1,A,1,2010-06-04,17558.09,False,27.050000,0.714586,7.808

In [4]:
# Print the info about the sales DataFrame
sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10774 entries, 0 to 10773
Data columns (total 10 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Unnamed: 0            10774 non-null  int64
 1   store                 10774 non-null  int64
 2   type                  10774 non-null  object
 3   department            10774 non-null  int64
 4   date                  10774 non-null  object
 5   weekly_sales          10774 non-null  float64
 6   is_holiday            10774 non-null  bool
 7   temperature_c         10774 non-null  float64
 8   fuel_price_usd_per_l  10774 non-null  float64
 9   unemployment          10774 non-null  float64
dtypes: bool(1), float64(4), int64(3), object(2)
memory usage: 768.2+ KB

In [5]:
# Print the mean of weekly_sales
sales['weekly_sales'].mean()

23843.95014850566

In [6]:
# Print the median of weekly_sales
sales['weekly_sales'].median()

12049.064999999999

In [9]:
# Print the maximum of the date column
sales['date'].max()

'2012-10-26'

In [8]:
# Print the minimum of the date column
sales['date'].min()

'2010-02-05'

In [10]:
# Use the custom iqr function defined for you along with .agg() to print the IQR of the temperature_c column of sales.
# A custom IQR function
def iqr(column):
    return column.quantile(0.75) - column.quantile(0.25)
    
# Print IQR of the temperature_c column
print(sales[["temperature_c"]].agg(iqr))

temperature_c    16.583333
dtype: float64

In [11]:
# Update the column selection to use the custom iqr function with .agg() to print the IQR of temperature_c, fuel_price_usd_per_l, and unemployment, in that order.
print(sales[["temperature_c", "fuel_price_usd_per_l", "unemployment"]].agg(iqr))

temperature_c           16.583333
fuel_price_usd_per_l     0.073176
unemployment             0.565000
dtype: float64

In [12]:
# Update to print IQR and median of temperature_c, fuel_price_usd_per_l, & unemployment
def iqr(column):
    return column.median()

print(sales[["temperature_c", "fuel_price_usd_per_l", "unemployment"]].agg(iqr))

temperature_c           16.966667
fuel_price_usd_per_l     0.743381
unemployment             8.099000
dtype: float64

In [13]:
# Drop duplicate store/type combinations
# You can use the .drop_duplicates() method.
store_types = sales.drop_duplicates()
print(store_types.head())

   Unnamed: 0  store type  department        date  weekly_sales  is_holiday  \
0           0      1    A           1  2010-02-05      24924.50       False
1           1      1    A           1  2010-03-05      21827.90       False
2           2      1    A           1  2010-04-02      57258.43       False
3           3      1    A           1  2010-05-07      17413.94       False
4           4      1    A           1  2010-06-04      17558.09       False

   temperature_c  fuel_price_usd_per_l  unemployment
0       5.727778              0.679451         8.106
1       8.055556              0.693452         8.106
2      16.816667              0.718284         7.808
3      22.527778              0.748928         7.808
4      27.050000              0.714586         7.808

In [14]:
# Drop duplicate store/department combinations
store_depts = sales.drop_duplicates()
print(store_depts.head())

   Unnamed: 0  store type  department        date  weekly_sales  is_holiday  \
0           0      1    A           1  2010-02-05      24924.50       False
1           1      1    A           1  2010-03-05      21827.90       False
2           2      1    A           1  2010-04-02      57258.43       False
3           3      1    A           1  2010-05-07      17413.94       False
4           4      1    A           1  2010-06-04      17558.09       False

   temperature_c  fuel_price_usd_per_l  unemployment
0       5.727778              0.679451         8.106
1       8.055556              0.693452         8.106
2      16.816667              0.718284         7.808
3      22.527778              0.748928         7.808
4      27.050000              0.714586         7.808

In [15]:
# Subset the rows where is_holiday is True and drop duplicate dates
# The subset argument takes a column name or a list of column names.
holiday_dates = sales[sales["is_holiday"]].drop_duplicates(subset="date")

In [16]:
# Print date col of holiday_dates
print(holiday_dates)

      Unnamed: 0  store type  department        date  weekly_sales  \
498          498      1    A          45  2010-09-10         11.47
691          691      1    A          77  2011-11-25       1431.00
2315        2315      4    A          47  2010-02-12        498.00
6735        6735     19    A          39  2012-09-07         13.41
6810        6810     19    A          47  2010-12-31       -449.00
6815        6815     19    A          47  2012-02-10         15.00
6820        6820     19    A          48  2011-09-09        197.00

      is_holiday  temperature_c  fuel_price_usd_per_l  unemployment
498         True      25.938889              0.677602         7.787
691         True      15.633333              0.854861         7.866
2315        True      -1.755556              0.679715         8.623
6735        True      22.333333              1.076766         8.193
6810        True      -1.861111              0.881278         8.067
6815        True       0.338889              1.010723         7.943
6820        True      20.155556              1.038197         7.806

In [18]:
# Count the number of stores of each type
# Select the type column of store_types, then call .value_counts().
store_counts = sales["store"].value_counts()
print(store_counts)

13    913
20    910
19    906
10    902
1     901
4     901
27    900
2     897
6     894
31    890
14    885
39    875
Name: store, dtype: int64

In [19]:
# Select the department column of store_depts and call .value_counts().
# Get the proportion of stores of each type
store_props = sales["department"].value_counts()
print(store_props)

1     144
55    144
71    144
67    144
60    144
     ...
50     72
78     56
77     39
39      7
43      2
Name: department, Length: 80, dtype: int64

In [20]:
# Count the number of each department number and sort
dept_counts_sorted = store_props.sort_index()
print(dept_counts_sorted)

1     144
2     144
3     144
4     144
5     144
     ...
95    144
96    138
97    144
98    144
99    123
Name: department, Length: 80, dtype: int64

In [ ]:
# Get the proportion of departments of each number and sort
# To calculate proportions, set normalize to True in .value_counts().
# To sort the counts, set sort to True.
dept_props_sorted = ____.____(sort=____, normalize=____)
print(dept_props_sorted)

In [ ]:
# Calculate the total weekly_sales over the whole dataset.
# For overall sales, select the "weekly_sales" column, then calculate the sum
sales_all = ____["____"].____()

In [ ]:
# Subset for type A stores, calc total weekly sales
# For store type-specific sales, use a Boolean condition like sales["type"] == "some_value" to subset, before selecting the sales column and calculating the sum.
sales_A = ____[____["____"] == "____"]["____"].____()

In [ ]:
# Subset for type B stores, calc total weekly sales
sales_B = ____

In [ ]:
# Subset for type C stores, calc total weekly sales
sales_C = ____

In [ ]:
# Combine the A/B/C results into a list, and divide by sales_all to get the proportion of sales by type.
# You can divide the whole list by sales_all.
sales_propn_by_type = [sales_A, ____, ____] / ____
print(sales_propn_by_type)

In [ ]:
# Group sales by "type", take the sum of "weekly_sales", and store as sales_by_type
sales_by_type = ____.____("____")["____"].____()

In [ ]:
# Calculate the proportion of sales at each store type by dividing by the sum of sales_by_type. Assign to sales_propn_by_type.
sales_propn_by_type = ____ / sum(____)
print(sales_propn_by_type)

In [ ]:
# Group sales by "type" and "is_holiday", take the sum of weekly_sales, and store as sales_by_type_is_holiday.
sales_by_type_is_holiday = ____
print(sales_by_type_is_holiday)

In [ ]:
# Get the min, max, mean, and median of weekly_sales for each store type using .groupby() and .agg(). Store this as sales_stats. Make sure to use numpy functions!
# .agg() can take in a list of functions. The functions shouldn't be called, so don't use parentheses with them.
# Remember to .groupby() before selecting columns.
# Multiple column selection can be done with double-brackets, df[["col_a", "col_b"]].
# Note that the column name is fuel_price_usd_per_l with a lowercase "L" at the end, not the number 1.
sales_stats = ____

In [ ]:
# Print sales_stats
print(sales_stats)

In [ ]:
# Get the min, max, mean, and median of unemployment and fuel_price_usd_per_l for each store type. Store this as unemp_fuel_stats.
unemp_fuel_stats = ____